body{
    background-color: orange;
}

.texto {
    font-size: 13px;
}

.divs-facilidades {
    width: 325px;
}

.div-novidades {
    align-items: center;
    width: 325px;
}

.bold-message{
    font-weight: bold;
}

.botao-lilas {
    background-color: blue;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer{
    padding-bottom: 20px;
}

.rede-icon{
    font-size: 25px;
}

.ftp{
    margin-bottom: 0;
}

.btn-seta-next{
    position: absolute;
    border: 3px solid blue;
    margin-top: 150px;
    right: -70px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-seta-prev{
    position: absolute;
    border: 3px solid blue;
    margin-top: 150px;
    left: -70px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.btn-comprar{
    background-color: blue;
    padding: 10px;
    color: white;
}

@media(min-width: 768px) {

    .div-novidades {
        width: 696px;
    }

}